@using GranadaITELEC1C.ViewModels;
@{
}
@model LoginViewModel


<main id="main">

    
    <form asp-action="Login" asp-controller="Account">

    <section id="recipe" class="recipe">
      <div class="sign-up-container">
        <div class="container">
          <div asp-validation-summary="All" class="text-danger"></div>
          <h1 style="font-family:Bahnschrift ; text-align:center">Sign In</h1>
          
          

            <!-- Email input -->
            <div class="form-floating mb-4">
              <input asp-for="UserName" class="form-control" placeholder="" />
              <label asp-for="UserName"></label>
            </div>

            <!-- Password input -->
            <div class="form-floating mb-4">
                <input asp-for="Password" class="form-control" placeholder=""/>
                <label asp-for="Password"></label>
            </div>

           


            <div class="text-center">
               <p>Don't have an account yet? <a asp-area="" asp-controller="Account" asp-action="Register"> Sign Up</a>! </p>
              <button type="submit" class="sign-up-button">Sign In</button>
            </div>


        </div>
        
      </div>
    </section><!-- Top Recipe Section -->
    </form>

  </main><!-- End #main -->