@model Instructor;
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="AddInstructor" asp-controller="Instructor" method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control">
    </div>
    
    <div class="form-group">
        <label asp-for="IsTenured"></label>
        <input asp-for="@Model.IsTenured" />
    </div>
    <div class="form-group">
        <label asp-for="rank"></label>
        <select asp-for="rank" asp-items="@Html.GetEnumSelectList(typeof(Rank))" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="HiringDate"></label>
        <input asp-for="HiringDate" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>