@model Student;
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="AddStudent" asp-controller="Student" method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="GPA"></label>
        <input asp-for="GPA" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Course"></label>
        <select asp-for="Course" asp-items="@Html.GetEnumSelectList(typeof(Course))" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="AdmissionDate"></label>
        <input asp-for="AdmissionDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" aria-describedby="emailHelp" placeholder="example@AppDomain.com" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>