@model Student;
<h1>Are you sure you want to delete?</h1>

<form asp-action="Delete" asp-controller="Student" method="post">
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="GPA">GPA</label>
        <input asp-for="GPA" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="Course">Course</label>
        <select asp-for="Course" asp-items="@Html.GetEnumSelectList(typeof(Course))" class="form-control" readonly></select>
    </div>
    <div class="form-group">
        <label asp-for="AdmissionDate">Date of Admission</label>
        <input asp-for="AdmissionDate" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Email">Email address</label>
        <input asp-for="Email" class="form-control" readonly />
    </div>
    <button type="submit" class="btn btn-primary">Delete</button>
    <button type="button" onclick="history.back()" class="btn btn-secondary">Cancel</button>
</form>